#circle{
    height: 400px;
    width: 400px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: rgb(78, 3, 78);
    text-align: center;
}

#button-start{
    height: 70px;
    width: 160px;
    margin-top: 54%;
    color: white;
    background: purple;
    border-color: purple;
    font-family: Consolas;
    font-size: larger;
}