<div id="header">POMODORO TIMER</div>
<div id="main">
    <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange($event)">
        <ng-template swiperSlide>
            <div id="circle">
                <div id="timer">{{timerFocus.date | date: 'mm:ss'}}</div>
                <button id="button-start" (click)="onClick($event)" #working>START</button>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div id="circle">
                <div id="timer" #shortBreak>{{timerShortBreak.date | date: 'mm:ss'}}</div>
                <button id="button-start" (click)="onClick($event)" #shortBreak>START</button>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div id="circle">
                <div id="timer" #longBreak>{{timerLongBreak.date | date: 'mm:ss'}}</div>
                <button id="button-start" (click)="onClick($event)" #longBreak>START</button>
            </div>
        </ng-template>
    </swiper>
</div>
<div id="footer"></div>