<div id="header">POMODORO TIMER</div>
<div id="main">
    <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange($event)" #timerSwiper>
        <ng-template swiperSlide>
            <div id="circle">
                <div id="timer">00:00</div>
                <button id="button-start">START</button>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div id="circle">
                <div id="timer">00:00</div>
                <button id="button-start">START</button>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div id="circle">
                <div id="timer">00:00</div>
                <button id="button-start">START</button>
            </div>
        </ng-template>
    </swiper>
</div>
<div id="footer"></div>