#circle{
    height: 400px;
    width: 400px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: rgb(78, 3, 78);
    text-align: center;
}

#timer{
    padding-top: 43%;
    font-weight: bold;
    color: white;
    font-family: Consolas;
    font-size: xxx-large;
}

#button-start{
    height: 50px;
    width: 100px;
    color: white;
    background: purple;
    border-color: purple;
    font-family: Consolas;
    font-size: larger;
}