

*{
    text-align: center;
}

#header{
    font-size: 70px;
    color: white;
    
}

// TODO: width under 540 then shrink it
#main{
    width: 500px;
    margin-top: 16%;
    margin-left: auto;
    margin-right: auto;
}

#circle{
    height: 350px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: rgb(78, 3, 78);
}

#timer{
    padding-top: 40%;
    font-weight: bold;
    color: white;
    font-size: xxx-large;
}

#button-start{
    height: 50px;
    width: 100px;
    color: white;
    background: purple;
    border-color: purple;
    font-family: Consolas;
    font-size: larger;
}