* {
  text-align: center;
}

#header {
  font-size: 70px;
  color: white;
}

// TODO: width under 540 then shrink it
#main {
  width: 500px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#circle {
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: rgb(78, 3, 78);
}

#pie-info{
  position: absolute;
  top: 19%;
  left: 38%;
  align-items: center;
  justify-items: center;
}

#timer-title{
  padding-top: 20px;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(165, 7, 165);
}

#timer {
  padding-top: 20%;
  font-weight: bold;
  color: white;
  font-size: xxx-large;
}

#button-start {
  height: 50px;
  width: 100px;
  color: white;
  background: purple;
  border-color: purple;
  font-size: larger;
}

#setting {
  color: white;
  min-width: 230px;
  max-width: 300px;
  margin-left: 67%;
  font-size: large;
}

#setting-element {
  min-width: 90%;
  display: flex;
  padding: 5px;
}

#input {
  width: 70px;
  margin-left: auto;
  margin-right: 5px;
}

